<%- include('partials/header'); -%>
<h1>Home</h1>
<p><%= showHomeStartingContent %></p>

<% showPosts.forEach(function(post) { %>
  <% let shortenContent = post.content.substring(0, 100); %>

  <h1><%= post.title %></h1>
  <p><%= shortenContent + " ..." %> <a href=<%= "/posts/" + post.id %>>Read More</a></p>
<% }); %>
<%- include('partials/footer'); -%>
